<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FootballPedia ⚽ | competitions</title>
    <link rel="stylesheet" href="/styles/standings.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
</head>
<body>
  <form class="backout">
    <a href="/">
      <img class="backout-logo" src="images/football ball.png">
    </a>
  </form>
  <div class="main-container">
    <div class="container"> 
      <div class="header-div">
        <div>
          <h1 class="header">Standings</h1>
        </div>
      <form class="search-flex" method="POST">
        <input type="text" placeholder="Enter League Name" name="leagueName">
        <button class="submit-btn" type="submit"> Submit </button>
      </form>
      </div>
    </div>
    <% if(locals.standings) { %>

      <div class="content-div">
        <ol class="standings-table">
          <li class="team-item">
            <span class="standing-title">Club</span>
            <span class=""></span>
            <span class=""></span>
            <span class="space-span"></span>
            <span>Mp</span>
            <span>W</span>
            <span>D</span>
            <span>L</span>
            <span>Pts</span>
            <span>GF</span>
            <span>GA</span>
            <span>GD</span>
          </li>
          <% standings.forEach(club => { %>
            <li class="team-item">
              <span class="league-position"> <%= club.overall_league_position %>. </span>
              <span><img class="team-logo" src="<%= club.team_badge %>" alt="<%= club.team_name %> Logo"></span>
              <span class="team-name "><%= club.team_name %></span>
              <span class="space-span"></span>
              <span><%= club.overall_league_payed %></span>
              <span><%= club.overall_league_W %></span>
              <span><%= club.overall_league_D %></span>
              <span><%= club.overall_league_L %></span>
              <span><%= club.overall_league_PTS %></span>
              <span><%= club.overall_league_GF %></span>
              <span><%= club.overall_league_GA %></span>
              <span><%= club.overall_league_GF - club.overall_league_GA %></span>   
            </li>
          <% }); %>
      </div>
       
    <% } %>  
  </div>
</body>
</html>