<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FootballPedia ⚽ | Top Scorers</title>
    <link rel="stylesheet" href="/styles/topscorer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
</head>
<body>
  <div class="main-container">
    <div class="container"> 
      <div class="header-div">
        <div>
          <form method="get" action="/">
                <h1 class="header">Top Scorers</h1>
          </form>
        </div>
        <form class="search-flex" method="POST">
          <input type="text" placeholder="Enter League Name" name="leagueName">
          <button class="submit-btn" type="submit"> Submit </button>
        </form>
      </div>
    </div>
    <% if(locals.top10scorer) { %>
      <div class="main-container">
        <div class="nationality-div">
          <img src=<%=countryFlag %>>
          <img src=<%=leagueLogo %>>
        </div>
        <div class="content-div">
          <ol>
            <% top10scorer.forEach(player => { %>
              <li>
                <strong>Player Name:</strong> <%= player.player_name %> 
                <br>
                <strong>Team:</strong> <%= player.team_name %>
                <br>
                <strong>Goals:</strong> <%= player.goals %>
                <br>
                <strong>Assists:</strong> <%= player.assists %>
                <br>
                <strong>Penalty Goals:</strong> <%= player.penalty_goals %>
                <br>
                <hr>
              </li>
            <% }); %>
          </ol>
        </div>
        <div class="whatever-div">
        </div>
      </div>
    <% } %>
  </div>
</body>
</html>